table{
    width: 100%;
    border-collapse: collapse;
}
figcaption{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
th{
    color:gray;
    text-align: left;
}
th.right{text-align: right;}

td.color{
    background-color: #F5DEB3;
    text-align: right;
}
td.bold{
    font-weight: bold;
}

td a{
    color: black;
}